@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Roboto&display=swap");

:root {
  --textColor: #000000;
  --darkBlue: #003049;
  --moneyGreen: #5cb25e;
  --alertRed: #9b1c31;
  --pastelPink: #fbf5ff;
  --pastelBlue: #edf2fb;
  --pastelYellow: #fff9ec;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: auto;
  scrollbar-color: #404040 #ffffff;
}

*::-webkit-scrollbar {
  display: none;
}

a:hover,
a:active,
a:link,
a:visited {
  text-decoration: none;
  color: var(--textColor);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

header,
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  max-height: 10vh;
  width: 100vw;
  border: solid --textColor 0.1vw;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
#navbar-logo {
  width: 11%;
}

main {
  min-height: 80vh;
  width: 100vw;
}

.layout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  contain: content;
}

.landing-page-container {
  min-height: 80vh;
  max-height: 90vh;
  min-width: 100%;
  background-color: var(--pastelBlue);
}

.home-container * {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 5vh;
}

.home-top-container {
  background-color: var(--pastelBlue) !important;
  height: 90vh;
}
.home-middle-container {
  background-color: var(--pastelYellow);
  text-align: center;
}
.home-bottom-container {
  background-color: var(--pastelPink);
}

.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  /* min-height: 100vh; */
  /* width: 100%; */
  background-color: var(--darkBlue);
  font-family: "Roberto ", sans-serif;
  font-weight: 400;
  font-size: 2em;
}

.dashboard-left-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: 90vh;
  width: 40%;
  padding: 10px;
}

.overview {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-height: 40vh;
  width: 100%;
  border-radius: 10px;
  background-color: #edf2fb;
  color: black;
  /* border: solid green; */
}

.overview-values {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  min-height: 30vh;
  width: 40%;
  border-radius: 10px;
  background-color: #edf2fb;
  color: black;
  /* border: solid purple; */
}

.latest-transactions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1vh;
  padding-bottom: 1vh;
  min-height: 52vh;
  max-height: 42vh;
  width: 100%;
  border: solid white 0.1vw;
  border-radius: 10px;
  background-color: #edf2fb;
  color: black;
  overflow: scroll;
  contain: content;
}

.latest-transactions h1 {
  margin-top: 1vh;
  font-size: 1.7rem;
}

.transaction-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  /* margin: auto; */
  margin: -4px;
  align-items: center;
  max-height: 6vh;
  width: 95%;
  border: solid black 0.1vw;
  border-radius: 9px;
  border-bottom: thin solid rgba(0, 0, 0, 0.99);
  background-color: white;
}

.transaction-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 9vh;
  width: 20%;
  font-size: 1rem;
  /* border: solid black 0.1vw; */
}

.transaction-column p {
  margin-bottom: 2.5vh;
  height: 0;
}

.dashboard-right-elements {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1px;
  contain: content;
  min-height: 84vh;
  max-height: 84vh;
  width: 58%;
  padding-top: 10px;
  border-radius: 10px;
  background-color: #edf2fb;
  overflow: scroll;
}

.api-stocks {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-left: 2%;
  min-height: 15vh;
  width: 56vw;
  border-radius: 10px;
  color: black;
}

.my-stocks {
  color: black;
}

.purchasable-stocks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  min-height: 100%;
  width: 100%;
  color: black;
}

.purchasable-stock {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  min-height: 34vh;
  width: 21vw;
  margin: 10px;
  border: solid black 0.1vw;
  border-radius: 10px;
  background-color: white;
  color: black;
}

.purchasable-stock-left,
.purchasable-stock-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  min-height: 36vh;
  width: 10vw;
  font-size: 0.8em;
  background-color: white;
  color: black;
}

.trade-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 14vw;
  margin-bottom: 10px;
  border: solid black 0.2vw;
  border-radius: 50px;
}

.trade-button:hover {
  color: white;
  background-color: #003049;
  border: solid #003049 0.2vw;
}

.selected-stock-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  background-color: #edf2fb;
}

.selected-stock-container .purchasable-stock,
.selected-stock-info {
  background-color: white;
  border: solid black;
  border-radius: 10px;
}

.selected-stock-container .purchasable-stock {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  min-height: 10vh;
  width: 30vw;
  margin: 10px;
  border: solid black 0.2vw;
  border-radius: 10px;
  background-color: white;
  color: black;
}

.selected-stock-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 65vh;
  max-height: 65vh;
  width: 94%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  contain: content;
}

.transaction-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 315vh;
  width: 70vw;
  contain: content;
}

.transaction-titles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw;
  /* border: solid green; */
}

.transaction-values {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw;
  /* border: solid green; */
}

.company-statistics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw;
}

.minus,
.plus {
  height: 4vh;
  width: 3vw;
}

.quantity {
  height: 4vh;
  width: 7vw;
  text-align: center;
}

.return-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 14vw;
  border: solid black 0.2vw;
  border-radius: 10px;
  background-color: white;
}

.return-button:hover {
  color: white;
  background-color: #003049;
  border: solid #003049 0.2vw;
}

.stock-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.5vh;
  min-height: 7vh;
  width: 84%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  /* background-color: blue; */
}

.buy:hover {
  border: green solid 3px;
  background-color: green;
}

.sell:hover {
  border: red solid 3px;
  background-color: red;
}

.cancel:hover {
  border: grey solid 3px;
  background-color: grey;
}

.cancel:hover {
  border: grey solid 3px;
}

.stock-buttons button {
  height: 5vh;
  width: 10vw;
  border-radius: 10px;
  /* background-color: #edf2fb; */
  cursor: pointer;
}

.trending-stocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vw;
  height: 8vh;
  width: 100%;
  /* border: solid orange 0.4vh; */
  background-color: #003049;
  color: black;
}

.confirmation-screen {
  position: absolute;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  height: 25vh;
  width: 40vw;
  border: solid purple;
  background-color: white;
  contain: content;
  z-index: 99;
}

.close-button {
  align-self: right;
  text-align: right;
  padding-right: 1vw;
  height: 5vh;
  width: 100%;
  font-size: 2.3rem;
}

.close-button:after {
  content: "x";
  cursor: pointer;
}

.confirmation-screen p {
  text-align: center;
  width: 100%;
}

.confirmation-screen .stock-buttons {
  width: 29vw;
}

.financial-literacy-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--darkBlue);
}

.myrow {
  display: flex;
  flex-wrap: wrap;
  /* for horizontal aligning of child divs */
  justify-content: space-evenly;
  /* for vertical aligning */
  align-items: stretch;
}

#navbar-logo {
  width: 11%;
}
.parentDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-width: 100vw;
  height: 15vh;
}

.mytrends {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 18px;
  height: 8vh;
  max-width: 14.5vw;
  min-width: 13.5vw;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: #edf2fb;
  contain: content;
  animation: slide 15s linear infinite;
}

.mytrendsdata {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 3vh;
  width: 8vw;
}

.myParent {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.myChild {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 40%;
  text-align: center;
  font-size: 30px;
}

.myChild h3 {
  height: 6vh;
}

.industries {
  list-style-position: inside;
  font-size: 30px;
}
.myChild2 {
  margin: 10px;
}
#hero {
  width: 69%;
  margin: 70px;
  text-align: center;
}
.heroText {
  text-align: left;
  margin-left: 20px;
  padding: 90px;
}
#herotext2 {
  color: #6361fa;
}
#portfolioImage {
  width: 100%;
}
#profileDescription {
  font-size: 22px;
}
.trending {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 100vw;
  height: 15vh;
  overflow: hidden;
}
.row {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  height: 400px;
  padding: 106px;
  gap: 15px;
}
.column {
  flex: 1 1 0px;
  border: 1px solid black;
  text-align: center;
}
.profileInfo {
  text-align: left;
  font-size: 30px;
}
.profileInfoParent {
  display: flex;
  margin: 5px;
  align-items: center;
  text-align: center;
}

.overview-values p,
h1 {
  text-align: left;
}

.overview-values p {
  font-size: 0.999rem !important;
  letter-spacing: 0.1666666667em !important;
}

.left-align {
  text-align: left;
  margin: -4px;
}

.left-align h3 {
  font-size: 20px;
  padding: 15px;
  margin: 1px;
  background-color: white;
  border-bottom: thin solid rgba(0, 0, 0, 0.99);
}

.container {
  columns: 2 auto;
}

.subheadingTransaction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 4vh;
  width: 95%;
  font-weight: bold;
  margin: -4px;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
  /* border-bottom: thin solid rgba(0,0,0,.19); */
  background-color: #003049;
  color: white;
  /* border-radius: 10px; */
}

.transactions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid blue; */
  height: 25vh;
  width: 70vw;
}

.subheadingTransaction2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: 5vh;
  max-height: 5vh;
  width: 95%;
  font-weight: bold;
  padding-top: 1vh;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
  /* border-bottom: thin solid rgba(0,0,0,.19); */
  background-color: #003049;
  color: white;
  /* border-radius: 10px;*/
  contain: content;
}

.subheadingTransaction2 h1 {
  font-size: 23px;
}

.form {
  display: flex;
  /* border: solid green; */
  height: 10vh;
  width: 95%;
  background-color: white;
}

.transaction-row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 9vh;
  width: 95%;
  border-bottom: thin solid rgba(0, 0, 0, 0.99);
  /* border-radius: 8px; */
  /* box-shadow: 1px 1px; */
  background-color: white;
}

.stock-data-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 0.1vw;
  margin-top: 1.5vh;
  max-width: 150vh;
  min-height: 38vh;
  width: 100%;
  /* border: solid green; */
  contain: content;
}

.stock-data-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5vw;
  /* border: solid red; */
  width: 100vw;
}

.stock-image {
  width: 5vw;
  border-radius: 60px;
}

.stock-data-sub-header .stock-image {
  min-height: 3vh;
  width: 1.5vw;
}

.stock-data-sub-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 11vh;
  max-width: 20vw;
  /* border: solid purple; */
  contain: content;
  font-size: 2vh;
}

.stock-data-sub-header p {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  flex-wrap: wrap;
  /* border: solid blue; */
  width: 30vw;
}

.stock-data-change {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  min-height: 1vh;
  min-width: 54vw;
  max-width: 54vw;
  text-align: left;
}

.data-table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 80vw;
  /* border: solid green; */
}

.main-data-left {
  height: 100%;
  /* border: solid blue; */
}

.main-data-right {
  height: 100%;
  /* border: solid purple; */
}
.latest-transactions h1 {
  margin-top: 1vh;
  font-weight: bold;
  font-size: 1.7rem;
}
.transaction-corners {
  border-bottom-left-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
}

#upper-left {
  border-top-left-radius: 8px 8px;
}
#upper-right {
  border-top-right-radius: 8px 8px;
}
#lower-left {
  border-bottom-left-radius: 8px 8px;
}
#lower-right {
  border-bottom-right-radius: 8px 8px;
}
#stockTickerAndExchange {
  font-size: 21px;
}

@keyframes slide {
  0% {
    transform: translate3d(2450px, 0, 0);
  }
  100% {
    transform: translate3d(-2200px, 0, 0); /* The image width */
  }
}
